* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Montserrat', sans-serif;
}

/*SEMÂNTICO*/

body {
  background-color: rgb(232, 190, 240);
  font-size: 100%;
  max-width: 1366px;
  max-height: 768px;
  margin: 0 auto;
}
